
*{
  box-sizing: border-box;
}

html, body{
  font-family: $font-family-sans;
  font-size: $m;
  line-height: $lh-default;
  font-weight: $fw-normal;
  hyphens: auto;
  color: $text-color;
}

img{
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, p, blockquote{
  margin-bottom: $l;
}

blockquote{
  font-family: $font-family-serif;
  color: $darkest;
}

blockquote:before{
  content: "«";
  padding-right: 0.1em;
}

blockquote:after{
  content: "»";
  padding-left: 0.1em;
}

h1, h2, h3, h4{
  line-height: $lh-tight;
  font-weight: $fw-bold;
  color: $headline-color;
}


h1{
  font-size: $xl;
}

h2{
  font-size: $l;
}

h3{
  font-size: $m;
}


section{
  margin-bottom: $l;
}