/* Sizes
Using Lucas Numbers 1, 3, 4, 7, 11, 18, 29, 47, 76, 
---------------------------------------------------------------------------- */
$xs: 7px;
$s: 11px;
$m: 18px;
$l: 29px;
$xl: 47px;


/* Font Properties
---------------------------------------------------------------------------- */
$font-family-serif: PTserif;
$font-family-sans: PTsans;
$base-font-size: $m;
$font-icons: 'Material Icons';


/* Font Weights
---------------------------------------------------------------------------- */
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 600;


/* Line Heights
---------------------------------------------------------------------------- */
$lh-tight: 100%;
$lh-default: 130%;
$lh-loose: 150%;

/* Colors
---------------------------------------------------------------------------- */
$dark: #666;
$darker: #333;
$darkest: #000;
$darken: rgba(0,0,0,0.3);

$light: #ddd;
$lighter: #eee;
$lightest: #fff;
$lighten: rgba(255,255,255,0.3);

$red: hsla(354, 85, 64, 1);
$dark-blue: hsla(208, 80, 41, 1);
$blue: hsla(208, 57, 64, 1);
$orange-light: hsla(45, 96, 48, 1);
$orange: hsla(39, 96, 48, 1);


/* Functional Properties
---------------------------------------------------------------------------- */
$text-color: $dark;
$headline-color: $darkest;
$interaction-color: $red;
$decoration-color: $orange;


/* Viewports
---------------------------------------------------------------------------- */
$vp-small: 50rem;


/* Transitions
---------------------------------------------------------------------------- */
$tr-fast: 0.2s;
$tr-slow: 0.8s;

/* Misc
---------------------------------------------------------------------------- */
$border-width: 2px;
$width-marinalie: 26rem;